.container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.con_btn {
  padding: 7px 10px;
  margin: 5px 5px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.con_btn:hover {
  border-color: #238cff;
}

.con_btn:disabled {
  border: 1px solid #dbdbdb;
}
