*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table-head{
  display: flex;
  justify-content: space-between;
}

.table-head div{
  padding: 10px 20px;
}

.table-head-left{
  margin-top: 10px;
  font-weight: bold;
}